
.popupimageslider{
    margin-top:100px;
    height: 400px;
    width: 1800px;
    margin-left:5%;
    overflow:hidden;
}

/*---------- SLIDE ANIMATION --------------*/

@-webkit-keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left: 600px;}
    30% {left: 600px;}
    40% {left: 1200px;}
    50% {left: 1200px;}
    60% {left: 600px;}
    70% {left: 600px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left:0px;}
}

.slide-images{
    margin: 0 0 0 -1200px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.slide-images img{
    width:600px;
    height:400px;
}

.img-container{
    height: 400px;
    width: 600px;
    position: relative;
    float: left;
}