/**{
    border:1px solid;
}*/
html,body {
      margin: 0;
      background: #282623;
      overflow:hidden;
}

#logo{
  display:inline-block;
  float:left;
  position:fixed;
  left:50%;
  transform:translateX(-100%);
}
#logo img{
  width:200px;
  height:100px;
}

.menu-btn {
    z-index:9999;
    position: fixed;
    padding:20px;
    font-size: 24px;
}

.menu {
  z-index: 99999;
    display:block;
    position: fixed;
    top: 0;
    width: 300px;
    height: 100vh;
    background: #402640;
    opacity: 0;
    box-shadow: 1px 1px 10px;
  }

.close-menu {
    position: fixed;
    margin:0.82em;
    font-size: 24px;
    color: #fff;
    z-index: 1;
    background: #402640;
}

.nav {
    position: absolute;
    left: 21%;
    margin-top: 20%;
}

.nav ul {
    list-style: none;
}

.main-menu-item {
    padding-top: 30px;
}

.main-menu-item a {
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
}

.submenu-item a {
    z-index: 10;
    color: grey;
}

.submenu li {
    margin: 20px 0;
}

.main-menu-item a ion-icon {
    position: relative;
    font-size: 9px;
    opacity: 0.4;
}

.submenu {
    display:none;
}

.contact {
    color: #fff;
    position: absolute;
    bottom: 90px;
    right: 24%;
}

.contact p {
    font-weight: lighter;
    color: white;
    opacity:0.7;
}


.container {
      display:block;
      width:100%;
      height:100vh;

}
.container img{
  border:none;
  top:20vh;
  width:20%;
  min-width: 500px;
  height:500px;
  overflow:hidden;
  position:fixed; 
  left:50%;
  transform:translateX(-50%);
}
#map iframe{
  border:none;
  top:30vh;
  width:50%;
  min-width: 500px;
  height:320px;
  overflow:hidden;
  position:fixed; 
  left:50%;
  transform:translateX(-50%);
}
/* fixed navigation */

.upmenu {
      z-index: 9999;
      height: 60px;
      width: 100%;
      display:block;
      position: fixed;
      min-width:800px;
      
}

.upmenu ul {
      padding: 0;
      margin: 0;
      margin-left:60px;
}

.upmenu li {
      display: inline;
      float: right;
}

.upmenu a {
      display: inline-block;
      width: 100px;
      font-weight: 400;
      text-align: center;
      text-decoration: none;
      padding: 20px 0;
      color: white;
      transition: 1s;
}

.upmenu a:hover {
      color: #6C6C6C;
}


/*Containers*/
/*main page*/
.home {
      width: 100%;
      height: 100vh;
      margin: 0;
      padding: 0;
      overflow-y: hidden;
}

/*About page*/
/* 1st */
#about {
      width:100%;
      height:100vh;
      background: #282623;
      padding: 8rem 0;

}

/* 2nd */
#map {
      width:100%;
      height:100vh;
      background: #282623;
      padding: 8rem 0;
}

/* 3rd */

#attractions {
      width:100%;
      height:100vh;
      background: #282623;
      padding: 8em 0;
}

/*Rooms page*/
/*1st*/
#room1 {
      width:100%;
      height:100vh;
      background: #282623;
      padding: 8rem 0;
}

/* 2nd */
#room2 {
      width:100%;
      height:100vh;
      background: #282623;
      padding: 8rem 0;
}
/* 3rd */

#room3 {
      width:100%;
      height:100vh;
      background: #282623;
      padding: 8em 0;
}
/* 4th */

#room4 {
      width:100%;
      height:100vh;
      background: #282623;
      padding: 8em 0;
}
/*Facilities page*/
/* 1st */
#gym {
      width:100%;
      height:100vh;
      background: #282623;
      overflow-y: hidden;
}

/* 2nd */
#pool {
      width:100%;
      height:100vh;
      background: #282623;
}
/* 3rd */

#cu {
      width:100%;
      height:100vh;
      background: #282623;
}
/* 4th */

#laundry {
      width:100%;
      height:100vh;
      background: #282623;
}
/*FaD page*/
/* 1st */
#restaurant {
      width:100%;
      height:100vh;
      background: #282623;
      padding: 8rem 0;
      overflow-y: hidden;
}

/* 2nd */
#bar {
      width:100%;
      height:100vh;
      background: #282623;
      padding: 8rem 0;
}
/* 3rd */

#cafe {
      width:100%;
      height:100vh;
      background: #282623;
      padding: 8em 0;
}
/* 4th */

#roomservice {
      width:100%;
      height:100vh;
      background: #282623;
      padding: 8em 0;
}
/*contact us page*/
/* 1st */
#contact {
      width:100%;
      height:100vh;
      background: #282623;
      padding: 8rem 0;
      overflow-y: hidden;
}

/* 2nd */
#recruit {
      width:100%;
      height:100vh;
      background: #282623;
      padding: 8rem 0;
}




/*slider*/

#slider,
.slide-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow:hidden;

  
  
}
.slide-content >img{
  display:block;
  position:absolute;
  top:0px;
  width:100%;
  height:100%;
}
#slider{
  border-color:green;
  overflow:hidden;

}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-color:blue;
}
.slide{
  animation:zoom 1s ease;
}
@keyframes zoom{
  0%{transform:scale(2);opacity:0;}
  100%{transform:scale(1);opacity:1;}
}


#arrow-left {
  position:fixed;
  z-index:999999;
  width:50px;
  height:50px;
  top:50%;
  transform:translateY(-50%);
  opacity:0.8;
  color:white;
}

#arrow-right {
  position:fixed;
  z-index:999999;
  width:50px;
  height:50px;
  top:50%;
  transform:translateY(-50%);
  right:0;
  opacity:0.8;
  color:white;
}

/*hide scrollbar*/
::-webkit-scrollbar{
  width:20px;
} 

::-webkit-scrollbar-thumb{
  background-color:rgba(0,0,0,1);
}  


/*layer*/

.layer {
  display:none;
  z-index:99999;
  position:fixed; 
  overflow-y:scroll;
  left:50%;
  transform:translateX(-50%);
  top:0px;
  width:30%;
  min-width:500px;
  box-shadow:3px 3px 10px rgba(0,0,0,0,4);
  background:black;
  color:white;
  opacity:0.95;
  height:100vh;
}
.layer .close{
  display:block;
  position:fixed; 
  right:20px;
  top:20px;
  padding:1px 6px;
  width:30px;
  height:30px;
}

#close-icon{
  display:block;
  width:30px;
  height:30px;
  color:white;
}
.popup{
  display:block;
  width:50%;
  height:50vh;
  color:white;
  text-decoration: none;
  position:fixed;
  top:65%;
  left:50%;
  transform:translateX(-50%);
}

/*Half-Half page*/
.slide-content-half {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-color:yellow;
  
}

.leftimg{
  display:inline-block;
  float:left;
  width:50%;
  height:100%;
}
.righttext{
  float:left;
  width:50%;
  height:100%;
  background:#282623;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.containerrecruit {
      max-width: 1200px;
      height:50%;
      text-align: center;
      margin: 0 auto;
      padding: 0 3rem;
}
.recruitboxcenter{
  width:100%;
  height:100%;
  margin-left:50%;
  transform:translateX(-50%);
}
.recruitbox{
  width:30%;
  height:50%;
  display:block;
  margin-right: 3%;
  margin-left: 13%;
  margin-top:10%;
  float:left;
  background-color:red;
}
