/**{
    border: solid;
}*/

html,body {
      margin: 0;
      background: #282623;
      overflow: hidden;
}

#logo{
  display:inline-block;
  float:left;
  position:fixed;
  left:50%;
  transform:translateX(-100%);
}
#logo img{
  width:200px;
  height:100px;
}


/*main page*/
.home {
      width: 100%;
      height: 100vh;
      margin: 0;
      padding: 0;
      overflow-y: hidden;
}

/*About page*/
/* 1st */
#about {
      width:100%;
      height:100vh;
      padding: 8rem 0;
      overflow-y: hidden;
}

/* 2nd */
#map {
      width:100%;
      height:100vh;
      padding: 8rem 0;
}
/* 3rd */

#attractions {
      width:100%;
      height:100vh;
      padding: 8em 0;
}

/*Rooms page*/
/*1st*/
#room1 {
      z-index: 99999;
      width:100%;
      height:100vh;
      padding: 8rem 0;
}

/* 2nd */
#room2 {
      width:100%;
      height:100vh;
      padding: 8rem 0;
}
/* 3rd */

#room3 {
      width:100%;
      height:100vh;
      padding: 8em 0;
}
/* 4th */

#room4 {
      width:100%;
      height:100vh;
      padding: 8em 0;
}
/*Facilities page*/
/* 1st */
#gym {
      width:100%;
      height:100vh;
      padding: 8rem 0;
      overflow-y: hidden;
}

/* 2nd */
#pool {
      width:100%;
      height:100vh;
      padding: 8rem 0;
}
/* 3rd */

#cu {
      width:100%;
      height:100vh;
      padding: 8em 0;
}
/* 4th */

#laundry {
      width:100%;
      height:100vh;
      padding: 8em 0;
}
/*FaD page*/
/* 1st */
#restaurant {
      width:100%;
      height:100vh;
      padding: 8rem 0;
      overflow-y: hidden;
}

/* 2nd */
#bar {
      width:100%;
      height:100vh;
      padding: 8rem 0;
}
/* 3rd */

#cafe {
      width:100%;
      height:100vh;
      padding: 8em 0;
}
/* 4th */

#roomservice {
      width:100%;
      height:100vh;
      background: violet;
      padding: 8em 0;
}
/*contact us page*/
/* 1st */
#contact {
      width:100%;
      height:100vh;
      background: #282623;
      padding: 8rem 0;
      overflow-y: hidden;
}

/* 2nd */
#recruit {
      width:100%;
      height:100vh;
      padding: 8rem 0;
}

/*hide scrollbar*/
::-webkit-scrollbar{
  width:20px;
} 

::-webkit-scrollbar-thumb{
  background-color:rgba(0,0,0,1);
} 
